<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavorMapper">


    <insert id="insertBatch">
        insert into dish_flavor(dish_id, name, value)
        values
# collection="flavors" 为要遍历的集合 flavors为集合的别名,来自与insert对应的参数, item为集合中元素的别名
# separator=","为集合中元素之间的分隔符(括号间的)
        <foreach collection="flavors" item="dishFlavor" separator=",">
            (#{dishFlavor.dishId},#{dishFlavor.name},#{dishFlavor.value})
        </foreach>
    </insert>
    <delete id="deleteByDishIds">
        delete from dish_flavor where dish_id in
#     collection="dishIds"为id列表，item为id列表中的元素 separate为列表元素之间的分隔符 open="(" close=")"为列表的括号
        <foreach collection="dishIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
