<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">


    <insert id="insert"  parameterType="orders" useGeneratedKeys="true" keyProperty="id">
        insert into orders(number,status,user_id,address_book_id,order_time,checkout_time,
                           pay_method,pay_status,amount,remark,user_name,phone,address,consignee)
        values(#{number},#{status},#{userId},#{addressBookId},#{orderTime},#{checkoutTime},
               #{payMethod},#{payStatus},#{amount},#{remark},#{userName},#{phone},#{address},
               #{consignee})
    </insert>
</mapper>
